$mainColor: #ffffff;
$textColorLight: #cac3c3;
$subColor: #cbc6c3;
$secondaryColor: #cda4a4;
$borderColor: #f5cccc;
$textColor:#212121;
$fontSize: 16px;
$fontFamMain: 'Jura', sans-serif;
$fontFamBread: 'Lato', sans-serif;
$fontCursive: 'Great Vibes', cursive;



