$mainColor: #f5cccc;
$textColorLight: #7b7673;
$subColor: #cbc6c3;
$secondaryColor: #ffffff;
$textColor:#212121;
$fontSize: 16px;
$fontFamMain: 'Jura', sans-serif;
$fontFamBread: 'Lato', sans-serif;
$fontCursive: 'Great Vibes', cursive;



